
extends ./main.layout.pug
block content
  .menu-popup
    div.hamburger-btn--close
      .hamburger-btn__line
      .hamburger-btn__line
      .hamburger-btn__line  
    nav.menu 
      ul.menu__list
        each item in ['About me','Skills','My Projects','Reviews']
          li.menu__item
            a(href='').menu__link #{item}
    ul.socials__list.socials
      -
        var soc = [
          {link: '//instagram.com', icon: 'insta'},
          {link: '//github.com', icon: 'github'},
          {link: '//vk.com', icon: 'vk'},
          {link: '//mail.ru', icon: 'envelope'}
          ]

      each item in soc
        li.socials__item 
          a(href=item.link target="_blank").socials__link
            +icon(item.icon,'socials__icon')    
  .welcome
    section.hero
      .container.hero__container
        header.header
          .header__logo
            a.logo(href='#') AD
          .header__menu
            nav.menu 
              ul.menu__list
                each item in ['About me','Skills','My Projects','Reviews']
                  li.menu__item
                    a(href='').menu__link #{item}
          .header__socials 
            ul.socials__list.socials
              -
                var soc = [
                  {link: '//instagram.com', icon: 'insta'},
                  {link: '//github.com', icon: 'github'},
                  {link: '//vk.com', icon: 'vk'},
                  {link: '//mail.ru', icon: 'envelope'}
                  ]

              each item in soc
                li.socials__item 
                  a(href=item.link target="_blank").socials__link
                    +icon(item.icon,'socials__icon')
          div.hamburger-btn
            .hamburger-btn__line
            .hamburger-btn__line
            .hamburger-btn__line   
          
        .hero__body
          .hero__description Personal site of web developer
          .hero__title  
            h1.hero__name 
            | Alexandr Dermenji
        .hero__scroll  
          button.scroll-btn-down Scroll down
    section.about
        .container.about__container
          .about__left
            .user
              .user__img
                +image('content/alex.jpg', 'user__pic')
              table.user__data 
                each item in [['Based in:', 'Rugby'],['Age:', '34'],['Born:', '25.09.1986']]
                  tr.user__data-row 
                    td.user__data-title #{item[0]}
                    td.user__data-title #{item[1]}

          .about__right
            .about__body 
              p.about__intro Hi, my name is
              h2.about__name Alexandr Dermenji
              p.about__text I am developing modern websites and applications. I like doing interesting and modern projects.
            .about__footer 
              p.about__note I made this site as part of my studies at the LoftSchool. I'll refresh my content in it a bit later. In the meantime, look how cool and beautiful everything is here!
 
  .middle 
    section.values
      .container.values__container
        h2.values__title How can I help?
        .values__text I use all modern technologies in my projects. React, Vue, TypeScript I use all modern technologies in my projects. React, Vue, TypeScript I use all modern technologies in my 

        .skills
          ul.skills__list
            -
              var skills = [
                ["Frontend", [
                  {tech: "HTML5", level: 95}, 
                  {tech: "CSS3", level: 50},
                  {tech: "Javascript", level: 60}, 
                  {tech: "Vue.js", level: 70}]],
                ["Workflow", [
                  {tech: "GIT", level: 70}, 
                  {tech: "Terminal", level: 80}, 
                  {tech: "Gulp", level: 70}, 
                  {tech: "Webpack", level: 67}]]
                ]
            each item in skills
              li.skills__item
                .skills__row
                  .skills__row-title #{item[0]}
                  ul.skills__row-list
                    each skill in item[1]
                      li.skills__row-item
                        .skill
                          svg(viewBox="0 0 100 100").skill__circle-shape
                            circle(cx="50" cy="50" r="40").skill__circle.skill__circle--under
                            circle(cx="50" cy="50" r="40" stroke="url(#gradient)" transform='rotate(180 50 50)').skill__circle.skill__circle--above
                            linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0")
                              stop(offset="0%" stop-color="#5500f2")
                              stop(offset="100%" stop-color="#8f00ef")
                          .skill__circle-text #{skill.tech}
    section.projects
      .container.projects__container
        .projects__title
          .section-title My projects
        .projects__body
          .projects__slider(data-slide='2')
            +image('content/1.jpg', 'projects__pic')
            .projects__thumbs
              ul.projects__list
                  each item in ['1','2','3','4']
                    li.projects__item
                      a(href='#').projects__item-link
                        +image(`content/${item}.jpg`, 'projects__pic')
            .projects__controls 
              button(type="button").projects__btns.projects__controls-up
                +icon('arrow-down','projects__arrow projects__arrow--inactive')

              button(type="button").projects__btns.projects__controls-down
                +icon('arrow-down','projects__arrow projects__arrow--active')
          .projects__description 
            ul.projects__skills-list
                each item in ['HTML','CSS','JavaScript']
                  li.projects__skills-item 
                    .tag #{item}
            h2.projects__name Website of online school
            .projects__description-text Nice project with modern design. Nice colors, great functionality Nice project with modern design. Nice colors, great functionality
            
            a.iconed-link Visit website
     
  section.reviews 
    .container 
      .slider 
        .slider__header
          .section-title.slider__title What my clients say
          .slider__btns
            button(type='button').slider__btn.round-btn.round-btn--left
              +icon('arrow-down','round-btn--arrow')
            button(type='button').slider__btn.round-btn.round-btn--right
              +icon('arrow-down','round-btn--arrow')
        ul.slider__content
          li.slider__item
            .quote
              
              .quote__text 
                p “As a small business, I need an account manager that I can trust, and who understands my business. Craig knows my business and provides an excellent service. When I phone him, he understands my query straightaway and doesn’t need to look up what my business is before he can answer.” 
              .quote__user 
                .client
                  .client__avatar
                    .client__avatar-style 
                      +image('content/review1.jpg', 'client-pic')
                  .client__data
                    .client__name Dan Asare 
                    .client__title Web designer 
          li.slider__item
            .quote
              .quote__text 
                p “As a small business, I need an account manager that I can trust, and who understands my business. Craig knows my business and provides an excellent service. When I phone him, he understands my query straightaway and doesn’t need to look up what my business is before he can answer.” 
              .quote__user 
                .client
                  .client__avatar
                    .client__avatar-style 
                      +image('content/review2.jpg', 'client-pic')
                  .client__data
                    .client__name Dan Asare 
                    .client__title Project manager
  footer.footer 
    .container.footer__container 
      .footer__about   
        span.footer__year &copy; 2020
        span.footer__name Alexandr Dermenji
        span.footer__title Web developer personal website
                   
      .footer__nav  
        .footer__menu 
          nav.menu 
            ul.menu__list
              each item in ['About me','Skills','My Projects','Reviews']
                li.menu__item
                  a(href='').menu__link #{item}
        .footer__columns 
          .footer__left
             .footer__note This project was made during education in Loftschool
             .footer__socials
                ul.socials__list.socials
                  each item in soc
                    li.socials__item 
                      a(href=item.link target="_blank").socials__link
                        +icon(item.icon,'socials__icon')

          .footer__quote
            p.footer__quote-text “Any fool can write code that a computer can understand. Good programmers write code that humans can understand. humans can understand” 
            .footer__author Martin Fowler